<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mycompany.myapp.PensionFileMapper">
  	<insert id="insert">
  		INSERT INTO pensionfile(pnum, filename)
		VALUES(#{pnum}, #{filename})
  	</insert>
  	<update id="update">
  		UPDATE pensionfile
		SET filename = #{filename}
		WHERE pfnum = #{pfnum}
  	</update>
  	<delete id="delete">
  		DELETE FROM pensionfile
		WHERE pfnum = #{pfnum}
	</delete>
  	<select id="selectOne" resultType="PensionFile">
  		SELECT * FROM pensionfile
		WHERE pfnum = #{pfnum}
  	</select>
  	<select id="selectList" resultType="PensionFile">
  		SELECT * FROM pensionfile
		WHERE pnum = #{pnum}
  	</select>
  </mapper>